body{
      background-color: #d2d0fe;


}

h1 {
  color: #5c94bd;
}
h3
{
  color: #2a1a5e;
}


    }
hr{
  background-color:#d2d0fe;
  border-style:none;
  border-top-style: dotted;
  border-width:5px;


    width:7%
}
  img{
        height: 200px;
  }
